body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #ffffff;
    
    
}

.topnav {
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    width: 100vw;
    align-items: center;
    justify-content: center;
    display: flex;
    padding-bottom: 5%;
  }
  
  .topnav a {
    float: left;
    color: #5C41BF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
    border-radius: 3px;
    margin: 15px;
    
  }
  
  .topnav a:hover {
    background-color: #7C69BF;
    border-radius: 3px;
    color: #E7DFF2;
    font-size: 25px;
  }
  
  .topnav a.active {
    background-color: #7C69BF;
    color: #E7DFF2;
  }

h1 {
    font-size: 50px;
    color: #5C41BF;
    font-style: italic;
    font-weight: bolder;
    font-family: "Zalando Sans Expanded", sans-serif;
    font-variant-caps: all-small-caps;
    display: flex;
    justify-content: center;
    align-items: center;


}

.containernav {
    display: flex;
    margin: 0 auto;
    width: 100vw;
    background-color: #E7DFF2;

}

.EnterCodeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    margin-top: 3%;
    padding: 35px;
    font-size: 30px;
    border-radius: 5%;
    min-width:auto;
    width: 20%;
}


form {
    color: #000000;    
    font-size: 100%;
    align-items: center;
    font-family: monospace;
    font-weight: 600;
    margin-bottom: 50%;
}

button {
  font-family: monospace;
  background-color: #000000;
  color: #ffffff;
  padding: 10px;
  margin-top: 50px;
}

.preview {
  margin-top: 50px;
}

.aboutme {
  margin-top: 10%;
}


