body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #ffffff;
    
    
}

.topnav {
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    width: 100vw;
    align-items: center;
    justify-content: center;
    display: flex;
    padding-bottom: 5%;
    margin-bottom: 5%;
    justify-items: center;
  }
  
  .topnav a {
    float: left;
    color: #5C41BF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: calc(1vw + 1vh);
    border-radius: 3px;
    margin: 15px;
    
  }
  
  .topnav a:hover {
    background-color: #7C69BF;
    border-radius: 3px;
    color: #E7DFF2;
    font-size: calc(1vw + 1vh);
  }
  
  .topnav a.active {
    background-color: #7C69BF;
    color: #E7DFF2;
  }

h1 {
    font-size: calc(2vw + 1vh);
    color: #5C41BF;
    font-style: italic;
    font-weight: bolder;
    font-family: "Zalando Sans Expanded", sans-serif;
    font-variant-caps: all-small-caps;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containernav {
    display: flex;
    margin: 0 auto;
    width: 100vw;
    background-color: #ffffff;
    align-items: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
  
}

.EnterCodeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5C41BF;
    padding: 35px;
    font-size: 30px;
    min-width:auto;
    width: 20%;
    border-style: double;

}


form {
    color: #fcfcfc;    
    font-size: 100%;
    align-items: center;
    font-family: monospace;
    font-weight: 600;
}

button {
  font-family: monospace;
  background-color: #7c69bf;
  color: #ffffff;
  padding: 10px;
  margin-top: 20px;
}

.Preview {
  margin-top: 200px;
}

.aboutme {
  margin-top: 10%;
}

.panel {
  border-left: #000000;
  border-right: #000000;
  border-style:groove;
  width: 20%;
  padding: 35px;

}

.featurereview {
  margin-top: 2%;
}

.feature {
  margin-top: 8%;
}

ul {
  align-items: center;
  -moz-column-count: 2;
  -moz-column-gap: 20px;
  -webkit-column-count: 2;
  -webkit-column-gap: 20px;
  column-count: 2;
  column-gap: 25px;
  justify-content: center;
  display: flex;
}

.notepad2 {
  align-items: center;
  justify-items: center;
}

.container2 {

  display: flex;
  gap: 20px;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 15px;
  width: 90%;
  margin: 0 auto;
  border: #000000;
  border-style: groove;
  box-shadow: 10px 15px #5C41BF;
}

.section2 {
  background-color: #ffffff;
  padding: 100px;
  padding-bottom: 340px;
  padding-top: 340px;
}

h5 {
  font-size: calc(2vw + 1vh);
}
p {
  font-size: calc(2vw + 1vh);
  margin-top: -3%;
}

.text {
  margin-top: -3%;
}