body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #E7DFF2;
    
    
}

.topnav {
    overflow: hidden;
  }
  
  .topnav a {
    float: left;
    color: #5C41BF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
    border-radius: 3px;
    margin: 15px;
    
  }
  
  .topnav a:hover {
    background-color: #7C69BF;
    border-radius: 3px;
    color: #E7DFF2;
    font-size: 25px;
  }
  
  .topnav a.active {
    background-color: #7C69BF;
    color: #E7DFF2;
  }

h1 {
    font-size: 70px;
    color: #5C41BF;
    font-style: italic;
    font-weight: bolder;
    font-family: "Zalando Sans Expanded", sans-serif;
    font-variant-caps: all-small-caps;
}

.containernav {
    display: flex;
    margin: 0 auto;
    width: fit-content;
    margin-top: 14% ;
    position: sticky;
    background-color: #E7DFF2;
    padding-left: 10%;
    padding-right: 10%;
}

.EnterCodeContainer {
    display: flex;
    margin: 0 auto;
    margin-top: 13%;
    margin-left: 40%;
    margin-right: 40%;
    background-image: url(p1rrnr9zm3091.png);
    background-size: cover;
    padding: 35px;
    font-size: 30px;
    border-radius: 5%;
}

form {
    color: #ffffff;    
    font-size: 100%;
}
input {
    font-size: 75%;
    margin-left: 5%;
}